
@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>

<div>
    <p>Welcome @ViewBag.Result.FirstName, please verify that all info is correct.</p>

    <ul>

        <li>@ViewBag.Result.FirstName</li>
        <li>@ViewBag.Result.LastName</li>
        <li>@ViewBag.Result.Email</li>
        <li>@ViewBag.Result.Username</li>
        <li>@ViewBag.Result.Password</li>
    </ul>

    <p>Would you like to see our award winning <a href="/Shop/DisplayShop">menu?</a></p>

</div>








